@model BlindRiver.Models.custompage
@{
    ViewBag.Title = Model.title;
}

<div id="doctorsContainer">
<h1>@Model.title</h1>
<img class="customPageImg img-responsive" src="~/Content/Images/@Model.img" alt="" />
   @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.body))
    </div>