@model BlindRiver.Models.custompage
@{
    ViewBag.Title = "pages";
}

<div id="doctorsContainer">
<h1>@Model.title</h1>
<p><img class="customPageImg" src="~/Content/Images/@Model.img" alt="" />@Model.body</p>
    </div>