@{
    ViewBag.Title = "CareerManager";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div id="doctorsContainer">
<h2>Careers Manager</h2>

<h3>@Html.ActionLink("Job Application(s) Manager","JobApplicationsManager")</h3>
<h3>@Html.ActionLink("Job Opportunities Manager", "JobOpportunitiesManager")</h3>
</div>