@{
    ViewBag.Title = "CareerManager";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div id="doctorsContainer">
<h2>Careers Manager</h2>

<h3>@Html.ActionLink("Job Application(s) Manager","JobApplicationsManager")</h3>
    <p>To view applications from potential employees that have come through the website, click the link above.</p>
<h3>@Html.ActionLink("Job Opportunities Manager", "JobOpportunitiesManager")</h3>
    <p>To edit or post a job opportunity on the site, click the link above.</p>
</div>