@model IEnumerable<BlindRiver.Models.careerapp>
@{
    ViewBag.Title = "Job Opportunities Manager";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Job Applicants Manager</h2>

<h3>Current Job Applications</h3> 
@foreach (var x in Model) {
    <p> @x.jobcode| @x.fname | @x.lname | @Html.ActionLink("View Application Details", "ApplicationDetails", new { id = x.Id })<hr /></p>
}
