@{
    ViewBag.Title = "thanks";
}

<div id="doctorsContainer">
<h2 class="success">Your job application was received successfully. Thank you. </h2>
<button class="apply">@Html.ActionLink("Back to Jobs", "index")</button>
</div>