@model IEnumerable<BlindRiver.Models.contact_location>
@{
    ViewBag.Title = "Locations_list";
}
<h1>Locations</h1>
<div>
    <ul id="locations-list">
        @foreach (var location in Model)
        {
            <li><h2>@location.title</h2></li>
            <li><p>@location.address</p></li>
            <li><p>Tel.: @location.phone</p></li>
            <li><p>Fax: @location.fax</p></li>
        }
    </ul>
</div>
