@if (Request.IsAuthenticated) {
    <text>
<div id="hellouser">
    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
</div>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    <div><a class="cms-button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div>
        <div class="clear"></div>
    }
    </text>
} else {
    <ul id="registr-form">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
