@*@model IEnumerable<BlindRiver.Models.mainmenulink>*@


    <div class="wrapper">
        <ul>
            @{
                var menuItems = (IEnumerable<BlindRiver.Models.mainmenulink>)ViewData["MenuItems"];

                foreach (var x in menuItems)
                {
                    if(x.parent_id == null)
                    { 
                    <li>
                        @*@Html.ActionLink(x.link_name, x.link_url, new { Id = x.id })*@
                        @Html.ActionLink(x.link_name,"Index", x.link_url)
                        <ul>
                            @foreach(var submenuItem in menuItems)
                            {
                                if(submenuItem.parent_id == x.id)
                                {
                                    @*<li>@Html.ActionLink(submenuItem.link_name, submenuItem.link_url, new { Id = submenuItem.id })</li>*@
    <li>@Html.ActionLink(submenuItem.link_name, "Index", submenuItem.link_url)</li>

                                }
                            }
                        </ul>
                    </li>                
            }                    
           }
          }

        </ul>

        @*<ul>
                <li><a href='#'>Home</a></li>
                <li><a href='#'>About us</a></li>
                <li><a href='#'>Patients</a></li>
                <li><a href='#'>Healthcare services</a></li>
                <li><a href='#'>Careers & Volunteers</a></li>
                <li><a href='#'>Visitors</a></li>
                <li><a href='#'>Contact us</a></li>
                <li><a href='#'>FAQ</a></li>
            </ul>*@
    </div>
