@model BlindRiver.Models.bookApp

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Delete An Appointment:" + @Model.name;
}

<h2>Are you Sure you Want to Delete <em>@Model.name?</em></h2>
@* displays the delete option for selected the appointment  *@
@using (Html.BeginForm()) { 
    <div>
        <input type="submit" class="button-blue" value="Delete" />
        <br /><br />
        <button class="apply">@Html.ActionLink("Back", "Delete", new { id=Model.id})</button> 
    </div>
}