@model BlindRiver.Models.news_post

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Delete News:" + @Model.heading;
}

<div id="news-delete">
<h2>Are you Sure you Want to Delete <em>@Model.heading?</em></h2>
@using (Html.BeginForm()) { 
 
        <input type="submit" class="button-blue" value="Delete" />
        <br /><br />

       <button class="apply">@Html.ActionLink("Back", "Details", new { id=Model.id})</button>    
}
    </div>