@model IEnumerable<BlindRiver.Models.news_post>

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<ul>
    <!--displays every news in database-->
    @foreach(var x in Model)
    { 
        <li>@Html.ActionLink(x.heading, "Details", new { id = x.id})</li>
    }
</ul>
<br /><br />    
<p>@Html.ActionLink("Insert", "Insert")</p>