@model IEnumerable<BlindRiver.Models.service>

@{
    ViewBag.Title = "Index";
}

<h1>Services</h1>
<div id="service_public">
@foreach (var x in Model)
{
    <h2>@Html.DisplayFor(m=>x.service_name)</h2>
    <p>@Html.DisplayFor(m=>x.details)</p>
}
</div>