@model IEnumerable<BlindRiver.Models.service>

@{
    ViewBag.Title = "Index";
}

<div id="service_public">
    <h1>Services</h1>
    @foreach (var x in Model)
    {
        <h2>@Html.DisplayFor(m=>x.service_name)</h2>
        <p> @Html.DisplayFor(m=>x.details)</p>
        <br />
    }
</div>
