@model IEnumerable<BlindRiver.Models.custompage>
@{
    ViewBag.Title = "customPages";
}   


<div class="hp-main-module">
    <h3 class="subtitle">Stay up to date...</h3>
        {
           //conver the page titles to encoded URLs for linking
           // string url = "~/" +
           //   @Url.Encode(custpage.title.ToString());
            
            <div class="hp-module">
                    <div class="wrapper-image">
                        <div data-content="Visit this page" class="module-img cropped">
                            @*source:"Working with images asp.net"http://www.asp.net/web-pages/overview/ui,-layouts,-and-themes/9-working-with-images*@
                            <img src="@Url.Content(@"~/Content/Images/" + (custpage.img))" alt="module" />

                        </div>
                    </div>
                <div class="module-details">
                    <h3>
                        @Html.ActionLink(custpage.title, "PageDetails", new { id = custpage.Id })
                    </h3>
                                 
                </div>
                
                <div class="clear"></div>
            </div>
        }  
    </div>
<div class="clear"></div>

