@model IEnumerable<BlindRiver.Models.homemodule>
@{
    ViewBag.Title = "HomepageModule";
}   
<div class="hp-main-module">
        @foreach (var module in Model)
        {
            <div class="hp-module">
                <div class="wrapper-image">
                    <div data-content="Visit this section" class="module-img">
                        @*source:"Working with images asp.net"http://www.asp.net/web-pages/overview/ui,-layouts,-and-themes/9-working-with-images*@
                        <img src="@Url.Content(@"~/Content/Images/" + (module.image_path))" alt="module" />
                    </div>
                </div>
                <div class="module-details">
                    <h3>
                        @Html.ActionLink(module.link_name, module.link_url, new { Id = module.id })
                    </h3>
                    
                        @module.description
                    
                </div>
                
                <div class="clear"></div>
            </div>
        }  
    </div>
<div class="clear"></div>

