@{
    ViewBag.Title = "Index";
}
<div class="wrapper">
    <div class="img-slider">
        @*included image slider partial view*@
    @Html.Action("Slider", "Home")
    </div> 
</div>
    <div id="doctorsContainer">
        @*included homepage modules partial view*@
        @Html.Action("HomepageModules", "Home")
        @*included custom pages partial view*@
        @Html.Action("customPages","Home")
    </div>
    <div class="clear"></div>
<div class="clear"></div>

