@*@model IEnumerable<BlindRiver.Models.sliderimage>*@
@{
    ViewBag.Title = "Index";
}
<div class="wrapper">

    <div class="img-slider">
    @Html.Action("Slider", "Home")
    </div> 

    @*@Html.Action("HomepageModules", "Home")*@
</div>


    
    
        @Html.Action("HomepageModules", "Home")

    @Html.Action("customPages","Home")




    @*<h1>Contests</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum vestibulum augue, sed fringilla nulla feugiat ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros eu arcu lobortis, elementum varius arcu ornare. Phasellus fringilla venenatis justo, sed suscipit ex congue suscipit. Proin mollis aliquam enim, a ornare magna mollis in. Maecenas porttitor lorem at ligula feugiat aliquam. Phasellus placerat euismod mattis. Suspendisse ut pellentesque est, non malesuada orci. Quisque mattis augue a lorem mollis, sed pulvinar tellus pellentesque. Curabitur vitae tristique lectus.
    </p>
    <h2>Heading 2</h2>
    <p>
        Donec eget felis et ante sagittis suscipit euismod nec augue. Proin fermentum mauris id ornare fringilla. Duis feugiat posuere tortor, quis consectetur neque commodo eget. Nulla elit felis, dapibus at fermentum id, faucibus ut diam. Sed a pharetra orci, quis tristique magna. Donec semper est et libero volutpat, ac aliquet lectus laoreet. Mauris a purus maximus, pharetra mi eget, efficitur lectus. Pellentesque in tristique tellus. Sed sapien erat, molestie eget iaculis at, lacinia vel sapien. Maecenas gravida iaculis metus sed aliquam. Nulla mi libero, hendrerit pharetra tempus sit amet, gravida sed mauris. Sed pretium, sapien rhoncus consequat aliquam, erat risus tincidunt leo, eu imperdiet risus velit eu eros. Vivamus eu ante molestie, porttitor enim nec, tincidunt dui. Donec tristique, magna a luctus ornare, sapien metus pharetra nisl, et fermentum neque metus id odio. Phasellus maximus lobortis tortor, eu bibendum velit cursus in. Nulla vel augue risus.
    </p>


    <div id="content">
        <h3>Left column heading 3</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum vestibulum augue, sed fringilla nulla feugiat ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros eu arcu lobortis, elementum varius arcu ornare. Phasellus fringilla venenatis justo, sed suscipit ex congue suscipit. Proin mollis aliquam enim, a ornare magna mollis in. Maecenas porttitor lorem at ligula feugiat aliquam. Phasellus placerat euismod mattis. Suspendisse ut pellentesque est, non malesuada orci. Quisque mattis augue a lorem mollis, sed pulvinar tellus pellentesque. Curabitur vitae tristique lectus.
        </p>
    </div><!--/ content -->

    <div id="right-col">
        <h3>Right column heading 3</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum vestibulum augue, sed fringilla nulla feugiat ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros eu arcu lobortis, elementum varius arcu ornare. Phasellus.
        </p>
    </div><!--/ right-col -->*@
    <div class="clear"></div>
<div class="clear"></div>

