@*@model IEnumerable<BlindRiver.Models.sliderimage>*@
@{
    ViewBag.Title = "Index";
}
<div class="wrapper">

    <div class="img-slider">
    @Html.Action("Slider", "Home")
    </div> 

    @Html.Action("HomepageModules", "Home")
</div>
<div class="clear"></div>
