
@model IEnumerable<BlindRiver.Models.sliderimage>

@{
    ViewBag.Title = "Slider";
}

@*Source: "Create dynamic image slider in ASP.NET" http://aspnetscript.com/asp-net/create-dynamic-image-slider-in-asp-net-mvc/*@

<script>
    $(document).ready(function () {
        $('#ulSlider').bxSlider(function () {
            autoStart: true
        });
        $('.bx-wrapper').width('100%'),
        $('.bx-wrapper').height('100%')
        ;
    });
</script>

<div class="ct-slider">
    <ul id="ulSlider">
        @foreach (var image in Model)
        {
            <li>

                @*source:"Working with images asp.net"http://www.asp.net/web-pages/overview/ui,-layouts,-and-themes/9-working-with-images*@
                <a href="@Url.Action("Index", "doctor")"><img src="@Url.Content(@"~/Content/Images/" + (image.ImagePath))" /></a>
                <div class="carousel-caption">
                    <h2>View our doctors</h2>
                    <p>Find a doctor</p>
                </div>

            </li>
        }
    </ul>
</div>

