body {
}

.wrapper-admin{
    float:left;
    padding:30px;
    /*width:1090px;*/
    width:970px;
}

/*Styles form registration*/
.reg-form .form-input, #loginForm .form-input{
    width:25%;
}

.reg-form .button-blue, #loginForm .button-blue{
    padding-left:30px;
    padding-right:30px;
}


/*Styles for header admin*/
#header-admin{
    color: #ebebeb;
    background-color: #ebebeb;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
}
#header-admin img {
    width:200px;
}

#header-admin .login-admin{
    float:right;
    margin:18px 0;
}
.cms-button, #registr-form a {
    border:1px solid #ADADAD;
    color:#232323;
    font-size:12px;
    margin-bottom:10px;
    padding:8px 16px;
    text-decoration:none;
}


.cms-button:hover, #registr-form a:hover{
    background-color:#D4D4D4;
    -webkit-transition: background-color 400ms ease-in;
    -moz-transition: background-color 400ms ease-in;
    -o-transition: background-color 400ms ease-in;
    -ms-transition: background-color 400ms ease-in;
    transition: background-color 400ms ease-in;
}

#hellouser{
    color:black;
    font-size:14px;
    float:left;
    padding-right:10px;
}

#login {
    width: 200px;
}

#registr-form li{
    display:inline;
    padding-right:10px;
}
/*END Styles for header admin*/

/*menu navigation admin page*/
#nav-admin{
    background-color:#ebebeb;
    float:left;
    width:190px;
}
#nav-admin p{
    color:#fff;
    background-color:#266176;
    font-size:20px;
padding: 8px 11px;
}

#nav-admin ul li:first-child{
     border-top:1px solid #ADADAD;
}

#nav-admin ul li{
     border-bottom:1px solid #ADADAD;
}

#nav-admin ul li a{
    color:#232323;
    display: block;
    padding: 8px 11px;
    text-decoration:none;
}

#nav-admin ul li a i{
    display:inline-block;
    margin-right:10px;
}
#nav-admin .fa-wrench{
    margin-right:10px;
}

 #nav-admin ul li a:hover { 
      background-color:#D4D4D4;
     -webkit-transition: background-color 400ms ease-in;
    -moz-transition: background-color 400ms ease-in;
    -o-transition: background-color 400ms ease-in;
    -ms-transition: background-color 400ms ease-in;
    transition: background-color 400ms ease-in;       
    }

/*END menu navigation admin page*/

/* Styles for Home Page Admin*/
.module-admin{
    width:750px;
}

.module-image-admin{
    float:left;
    padding-right:30px;
}
.module-admin-details h2{
  color:#0677a2;
}

.module-edit{
    float:right;
    margin-right:120px;
    margin-top:-150px;
}

/* Styles for Home Page Admin*/

/*Styles for image gallery - admin side*/


#img-gallery-wrapper .button-green
{
    float:right;
}
.img-gallery-admin{
    height:300px;
    overflow:hidden;
}

.img-gallery-admin h2 {
    color:#0677a2;
}

.img-gallery-admin p{
    width:600px;
}

.img-gallery-admin .img-g-d img
{
 
    margin:20px 20px 20px 0;
    width:700px;

}

.img-gallery-admin .img-g-d{
    float:left;
}

.img-gallery-admin .link-g-d{
    float:right;
    /*margin-right: 300px;*/
    margin-top: 80px;
    margin-right:10px;
}

.img-gallery-admin .link-g-d .button-blue{
    margin:0;
    padding-left:28px;
    padding-right:28px;
}

.img-gallery-admin .link-g-d .button-cancel{
    margin:0;
}

.link-g-d  li {
    margin-bottom:30px;
}


#edit-image-admin select, #insert-image-admin select, #hm-update-page select{
  display: block;
  width: 63%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#edit-image-admin img, #delete-image-admin img, #delete-image-admin p{
    max-width:600px;
}

/* END Styles for image gallery - admin side*/

/*Styles for Contact messages - admin*/
.cm-table
{
    border:2px solid #67909F;
    border-collapse: collapse !important;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.cm-table thead{
    background:#67909F;
}

.cm-table td,
.cm-table th{
    border: 1px solid #ddd !important;
    text-align: center;
    padding:5px 10px;
}


.cm-table tbody tr:nth-child(even){
    background:#ECF0F1;
}

.cm-table tbody tr:hover{
    background:#BDC3C7;
    color:#FFFFFF;
}

.ct-msg-text{
    padding:0 0 0 10px;
}

.ct-row{
    margin-bottom:10px;
}

/*END Styles for Contact messages - admin*/

/*Styles form locations manager*/
#br-locations #br-add-btn{
    float:right;
    padding-bottom:20px;
}

#br-locations #br-add-btn .link-button{
    padding:6px 30px 6px 30px;
}

/*END Styles form locations manager*/

/*servicepage style*/
#service-upd {
    padding-left:20px;
}

#serive_insert {
    padding-left:20px;
}

#service-index {
    padding-left:20px;
}

#service-detail {
    padding-left:20px;
}
/*end of service page styles*/

/*news pages styles*/
#news-index {
    padding-left:20px;
}

#news-update {
    padding-left:20px;
}

#news-insert {
    padding-left:20px;
}

#news-details {
    padding-left:20px;
}
/*end of news page styles*/

/*bookapp page styles*/
#book-insert {
    padding-left:110px;
}

/*end of bookapp styles*/

/*style for survey*/
.cm-table1
{
    border:2px solid #67909F;
    border-collapse: collapse !important;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.cm-table1 thead{
    background:#67909F;
}

.cm-table1 td,
.cm-table1 th{
    border: 1px solid #ddd !important;
    text-align: center;
    padding:5px;
}


.cm-table1 tbody tr:nth-child(even){
    background:#ECF0F1;
}

.cm-table1 tbody tr:hover{
    background:#BDC3C7;
    color:#FFFFFF;

}

/*End of survey styles*/