/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*body {
    font-size: .85em;
    font: normal 14px Tahoma, Geneva, sans-serif;
    color: #232323;
    background-color: #fff;
}*/

 body {
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
h1 {
	font-size: 26px;
	margin: 0 0 15px;
}
h2 {
	font-size: 20px;
	margin: 10px 0 15px;
}
h3 {
	font-size: 18px;
	margin: 10px 0 15px;
}


header, footer, nav, section {
    display: block;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}


.br-container{
    min-height:100%;
 position:relative;
}

.content-body{
    overflow:hidden;
    /*padding:20px;*/
   padding-bottom:154px;  
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Styles for header*/
.wrapper {
/*border: 1px dashed red;*/
margin:0 auto; 
max-width:1170px;
/*overflow:hidden;*/
} 

header .contact-info{
    float:right;
    margin-top:30px;
}

header .c-contact {
    float:right;
    font-weight:600;
    padding-bottom:15px;
  
}

header .cnt-img{
    float:right;
    height:20px;
    margin:0 0 0 5px;
    width:20px;
}

/*END Styles for header*/

/*Styles for header admin*/
#header-admin{
    color: #ebebeb;
    background-color: #ebebeb;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
}
#header-admin img {
    width:200px;
}

#header-admin .contact-info{
    margin:18px 0;
}
.cms-button, #registr-form a {
    border:1px solid #ADADAD;
    color:#232323;
    font-size:12px;
    margin-bottom:10px;
    padding:8px 16px;
    text-decoration:none;
}


.cms-button:hover, #registr-form a:hover{
    background-color:#D4D4D4;
    -webkit-transition: background-color 400ms ease-in;
    -moz-transition: background-color 400ms ease-in;
    -o-transition: background-color 400ms ease-in;
    -ms-transition: background-color 400ms ease-in;
    transition: background-color 400ms ease-in;
}

#hellouser{
    color:black;
    font-size:14px;
    float:left;
    padding-right:10px;
}

#login {
    width: 200px;
}

#registr-form li{
    display:inline;
    padding-right:10px;
}
/*END Styles for header admin*/



/*Styles for navigation*/
#nav{
    background-color:#0378a3;
}

#nav ul{
    height:46px;
    text-transform: uppercase;
}

#nav ul > li{
    display:inline-block;
    position:relative;
}

#nav ul li a{
    color:#fff;
    float:left;
    padding:13px 32px;
    text-decoration:none;
}

#nav ul li:hover > a{
    background:#08b3ce;
    color:#fff;
}

#nav ul ul {
    
    display:none;
    left:0;
    margin-top: -1px;
    position:absolute;
    top:100%;
    text-transform: none;
    z-index:10;
    white-space: nowrap;
    width: 241px;
}

#nav ul ul li {
    background:#0378a3;
    display: block;
}

#nav ul ul a{
float:none;
display: block;
}

#nav ul > li:hover ul {
    display:block;
    
}

#responsive-nav {
        display:none;
        background-color:#0378a3;
        text-transform: uppercase;
        height:400px;
    }

    #responsive-nav li {
    padding:10px;
    width:100%;
    }

    #responsive-nav li a {
    padding: 0px;
    float:none;
    color:#fff;
    padding:13px 30px;
    }

#hamburger-container {
    display:none;
    padding:20px 0px;
    min-height:30px;
    background-color:#0378a3;
    width:100%;
    cursor:pointer;
}

    #hamburger-container:active {
    background:#08b3ce;
    }

.hamburger-menu
{
    width:30px;
    height:5px;
    background-color:#fff;
    border-radius:5px;
    position:relative;
    margin:0px 20px;
}

.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 100%;
    height:5px;
    background-color:#fff;
    position:absolute;
    border-radius:5px;
}

.hamburger-menu:after
{
    top:10px;
}

.hamburger-menu:before
{
    top:20px;
}

/*END Styles for navigation*/


/*menu navigation admin page*/
#nav-admin{
    background-color:#ebebeb;
    float:left;
    width:190px;
}
#nav-admin p{
    background-color:#266176;
    font-size:20px;
padding: 8px 11px;
}

#nav-admin ul li:first-child{
     border-top:1px solid #ADADAD;
}

#nav-admin ul li{
     border-bottom:1px solid #ADADAD;
}

#nav-admin ul li a{
    color:#232323;
    display: block;
    padding: 8px 11px;
    text-decoration:none;
}

#nav-admin ul li a i{
    display:inline-block;
    margin-right:10px;
}
#nav-admin .fa-wrench{
    margin-right:10px;
}

 #nav-admin ul li a:hover { 
      background-color:#D4D4D4;
     -webkit-transition: background-color 400ms ease-in;
    -moz-transition: background-color 400ms ease-in;
    -o-transition: background-color 400ms ease-in;
    -ms-transition: background-color 400ms ease-in;
    transition: background-color 400ms ease-in;       
    }

 



/*END menu navigation admin page*/

/* Styles for Home page*/
.clear{
    clear:both;
}

#content {
	float: left;
	width: 600px;
}
#right-col {
	float: right;
	width: 290px;
}



#HomepageModules{
    padding:20px;
    width:100%;
}

.hp-module{
    float:left;
    width:50%;
}

.wrapper-image{
    float:left;
    padding:20px;
    width:250px;
    height:100%;
}

.hp-module .module-img{
    position:relative;
    width:250px;
    height:159px;
}

.hp-module .module-img img{
    /*width:250px;*/
     width:100%;
    vertical-align:top;
}


.hp-module .module-img:after, .hp-module .module-img:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hp-module .module-img:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.hp-module .module-img:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    font-family: Gill Sans / Gill Sans MT, sans-serif;
    font-size:large;
    z-index:1;
    bottom:0;
    padding:8px 10px;
    text-align:center;
    background:rgba(0,0,0,0.8);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.hp-module .module-img:hover:after, .hp-module .module-img:hover:before {
    opacity:1;
}

.hp-module .module-details{
    padding:20px 0 20px ;
}

.hp-module .module-details  h3{
    padding:0;
    margin:0;
}

.hp-module .module-details a{
    color:#337ab7;
    text-decoration:none;
}

.hp-module .module-details a:hover{
    color:#23527c;
    text-decoration:underline;
}

/* END Styles for Home page*/

/* Styles for Home Page Admin*/
.module-admin{
    width:800px;
}

.module-image-admin{
    float:left;
    padding-right:30px;
}
.module-admin-details{
  
}
.module-edit{
    float:right;
    margin-right:120px;
    margin-top:-150px;
}

/* Styles for Home Page Admin*/
/* Styles for Footer*/
footer{
     background:#266176;
     bottom:0;
     height:124px; 
     margin-top:50px;    
     position:absolute; 
     width:100%;
}

.f-left{
    float:left;
}


footer .f-menu{
    height:46px;
}

.f-menu li{
    display:inline;
}

.f-menu li a{
    color:#c1bcbc;
    float:left;
    padding:15px 20px;
    text-transform:uppercase;
    text-decoration:none;
}

.f-menu li a:hover{
    color:#fff;
}

.copy{
    margin-left:20px;
}

.copyright{
    color:#A8C0C8;
}
/* END Styles for Footer*/

/*Styles for image gallery - admin side*/
.img-gallery-admin{
    height:200px;
    overflow:hidden;
}

.img-gallery-admin .img-g-d img
{
 
    margin:20px 20px 20px 0;
    width:700px;

}

.img-gallery-admin .img-g-d{
    float:left;
}

.img-gallery-admin .link-g-d{
    float:left;
    /*margin-right: 300px;*/
    margin-top: 80px;
}

 /*.img-gallery-admin .link-g-d p{
     padding-bottom:20px;
    }*/

/* END Styles for image gallery - admin side*/

.wrapper-admin{
    float:left;
    padding:30px;
    width:1090px;
}



/*Find A Doctor Styles*/

#doctorsContainer {
    max-width:1100px;
    margin: 0 auto;
    height:auto;
}

#doctorsContainer2 {
    height:100%;
    width:100%;
}

.doctorText {
    float:left;
}

.clearfix {
    clear:both;
}

.doctorTitle {
    margin-top:20px;
    margin-bottom: 5px;
}

.doctorThumb {
    height: 250px;
    width: 400px;
    float: right;
    margin: 30px;
}

/* Media Queries - Responsiveness*/
@media screen and (max-width: 1170px) {
    #hamburger-container {
        display:block;
    }
    nav ul {
        display: none;
    }
    #nav ul {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        max-width:50%;
    }
    .contact-info {
        max-width:50%;
        margin-top:5px;
    }
    .wrapper {
        max-width:768px;
    }
    .hp-module {
        width:45%;
    }
    .module-img {
        width:100%;
    }
    .module-details {
        width:100%;
        clear:both;
        margin:0px 20px;
    }

}

@media screen and (max-width: 480px) {
    .logo {
        max-width:100%;
    }
    .contact-info {
        max-width:100%;
        float:none;
        text-align:center;
    }
    .c-contact {
        max-width:100%;
    }
    
    .wrapper {
       max-width:480px;
    }
    .hp-module {
        width:100%;
        clear:both;
    }
    .module-img {
        width:100%;
        clear:both;
    }
    .module-details {
        width:100%;
        clear:both;
        margin:20px;
        overflow:auto;
    }
}