/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


 body {
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
h1 {
	font-size: 26px;
	margin: 0 0 15px;
}
h2 {
	font-size: 20px;
	margin: 10px 0 15px;
}
h3 {
	font-size: 18px;
	margin: 10px 0 15px;
}

h4 {
    font-size:14px;
    margin: 10px 0px;
    font-weight:bold;
}

header, footer, nav, section {
    display: block;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}


.br-container{
    min-height:100%;
 position:relative;
}

.content-body{
    overflow:hidden;
   padding-bottom:154px;  
   background:rgba(136,170,182, 0.1);
}

 .button-blue{
  background: #0378a3;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration:none;
}

.button-blue:hover {
        background:#08b3ce;
    }

.button-blue a{
    color:#fff;
    text-decoration:none;
}

 .button-cancel{
     margin-left:15px;
  background: #cbcdcf;
  font-family: Arial;
  color: #333;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration:none;
}

.button-cancel:hover {
        background:#f7f9fa;
    }

 .button-cancel a{
     color:#333;
     text-decoration:none;
 }

.button-green{
    margin-bottom:10px;
  background: #09720D;
  font-family: Arial;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-green:hover {
        background:#09A10D;
    }

.button-green a {
    color:#fff;
    padding:10px;
    text-decoration:none;
}

.btn-margin {
    margin-top: 20px;
}
.spaced {
    margin: 10px 5px;
}

.bluefont {
    color:#266176;
    font-weight:bold;

}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Styles for header*/
.wrapper {
margin:0 auto; 
max-width:1170px;
} 

header .contact-info{
    float:right;
    margin-top:30px;
}

.contact-mobile {
    display:none;
}

.contact-info {
     background:rgba(255,255,255,0.5);
     padding:15px 15px 0px 15px;
     border-radius:10px;
     margin-right:10px;
     
}

header .c-contact {
    float:right;
    font-weight:600;
    padding-bottom:15px;
  
}

header .cnt-img{
    float:right;
    height:20px;
    margin:0 0 0 5px;
    width:20px;
}

/*END Styles for header*/

/*Styles for navigation*/
.active{
background:#026082;
}

#main-header {
    display: block;
    position: relative;
}

#main-header::after {
     content: "";
    background-image:url('Images/blindriver-header.jpg');
     opacity: 0.5;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
}

#nav{
    background-color:#0378a3;
}

#nav ul{
    height:46px;
    text-transform: uppercase;
}

#nav ul > li{
    display:inline-block;
    position:relative;
}

#nav ul li a{
    color:#fff;
    float:left;
    padding:13px 32px;
    text-decoration:none;
}

#nav ul li:hover > a{
    background:#08b3ce;
    color:#fff;
}

#nav ul ul {
    
    display:none;
    left:0;
    margin-top: -1px;
    position:absolute;
    top:100%;
    text-transform: none;
    z-index:10;
    white-space: nowrap;
    width: 241px;
}

#nav ul ul li {
    background:#0378a3;
    display: block;
}

#nav ul ul a{
float:none;
display: block;
}

#nav ul > li:hover ul {
   display:block;
    
}

#responsive-nav {
        display:none;
        background-color:#0378a3;
        text-transform: uppercase;
    }

    #responsive-nav li {
    padding:10px;
    width:100%;
    }

    #responsive-nav li a {
    padding: 0px;
    float:none;
    color:#fff;
    padding:13px 30px;
    }

#hamburger-container {
    display:none;
    padding:15px 0px;
    min-height:25px;
    background-color:#0378a3;
    width:100%;
    cursor:pointer;
    box-shadow: 0px 3px 5px #888888;
    margin-bottom:3px;
}

    #hamburger-container:active {
    background:#08b3ce;
    }

.hamburger-menu
{
    width:30px;
    height:5px;
    background-color:#fff;
    border-radius:5px;
    position:relative;
    margin:0px 20px;
}

.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 100%;
    height:5px;
    background-color:#fff;
    position:absolute;
    border-radius:5px;
}

.hamburger-menu:after
{
    top:10px;
}

.hamburger-menu:before
{
    top:20px;
}

/*END Styles for navigation*/


/* Styles for Home page*/
.clear{
    clear:both;
}

#content {
	float: left;
	width: 600px;
}
#right-col {
	float: right;
	width: 290px;
}

.subtitle {
    text-align:left;
    color: #0378a3;
    text-transform:uppercase;
    
}

#HomepageModules{
    padding:20px;
    width:100%;
}

.hp-main-module {
    width:100%;
    border-top: 3px solid #0378a3;
    padding:10px 0px;
    text-align:center;
}
    
.hp-module{
    max-width:23%;
    margin:5px;
    display:inline-block;
    vertical-align:top;
}

.wrapper-image{
    float:left;
    margin-bottom:15px;
    width:100%;
    cursor:pointer;
    background-color:rgba(0,0,0,0.6);
    
}

.img-background{
    top:0;
    left:0;
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.6);
    display:none;
}

.img-background h2 a{
    color:#fff;
    margin-top:30px;
    text-decoration:none;
}

.hp-module .module-img{
    position:relative;
}


.hp-module .module-img img{
    width:100%;
    vertical-align:top;
}


.hp-module .module-img:after, .hp-module .module-img:before {
    position:absolute;
    opacity:0;
}


.hp-module .module-details{
    padding:20px 0 20px;
    text-align:left;
}

.module-details h3{
    margin:0 0 5px 0;
}


.carousel-caption{
    padding:20px;
    color:#fff;    
    left:0;
    top:0;
    text-align:left;
    padding:10px 10px;
    position:absolute;
    height:100%;
      width: 35%;
  background-color: #e4eef1;
  box-shadow: 70px 0 70px 0px #e4eef1;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.carousel-wrapper{
    height:80%;
    width: 75%;
    margin:90px;
}
.carousel-caption .carousel-wrapper h1{
    color:#0677a2;
    font-size:30px;
    font-family: ‘Courier New’, Courier, monospace;
    font-weight:500;
    line-height:1;
    margin:0;
    padding:0;
    text-transform:uppercase;
}


.carousel-wrapper .button-blue a{
    padding:10px;
    text-transform:uppercase;
}


.carousel-caption .carousel-wrapper p{
    color:#333;
    font-size:18px;
    margin-top:5px;
}

.ct-messages-search .form-input{
    float:left;
    margin-right:10px;
    margin-top:0;
}
.ct-messages-search .button-blue{
     float:left;
    padding:7px 10px;
}

.ct-messages-search .button-cancel{
    padding:7px 10px;
}

.ct-messages-search .button-cancel a{
    color:#333;
    text-decoration:none;
}

#contact-admin-page .ct-messages-search .form-input{
    margin-top:0;
    margin-right:5px;
    float:left;
}

/* END Styles for Home page*/

/* Styles for Footer*/
footer{
     background:#266176;
     bottom:0;
     height:70px; 
     margin-top:50px;    
     position:absolute; 
     width:100%;
}

.f-left{
    float:left;
}


footer .f-menu{
    height:46px;
}

.f-menu li{
    float:left;
    margin-top:10px;
    
}

.f-menu li:after{
    content: "|";
    display: inline;
    margin-left: 10px;
}

.f-menu li:last-child:after{
    display:none;
  
}

.f-menu li a{
    color:#c1bcbc;
    padding:15px 20px;
    text-transform:uppercase;
    text-decoration:none;
}

.f-menu li a:hover{
    color:#fff;
    text-decoration:underline;
}

.soc-links {
    float:right;
    margin: 10px 0 0 10px;
}

.soc-links a {
    
    margin-right: 7px;
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}


.btn-linkedin{
  color: #fff;
  background-color: #007bb6;
  border-color: rgba(0,0,0,0.2);
}

.btn-linkedin:hover {
  background-color: #005983;        
    }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover {
  background-color: #2d4373;
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0,0,0,0.2);
}

.btn-twitter:hover {
   background-color: #2795e9;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}

.btn-google-plus:hover {
  background-color: #c23321;
}

.soc-links .btn{
    border: 1px solid #757575;
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 0;
  font-size:20px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
}


.copy{
    margin-left:20px;
}

.copyright{
    color:#A8C0C8;
}

/*Find A Doctor Styles*/

#doctorsContainer {
    max-width:1100px;
    margin: 0 auto;
    height:auto;
    padding: 15px 10px;
}

#doctorsContainer2 {
    height:100%;
    width:100%;
}

.doctorText {
    float:left;
}

.clearfix {
    clear:both;
}

.doctorTitle {
    margin-top:20px;
    margin-bottom: 5px;
}

.doctorThumb {
    height: auto;
    width:100%;
    max-width: 400px;
    float: right;
    margin: 30px;
}

/*Career Opportunities Styles*/

.apply {
    background: #0378a3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    float:right;
    cursor:pointer;
    margin: 5px 10px;
}

    .apply:hover {
        background:#08b3ce;
    }

    .apply a {
        color:#fff;
        text-decoration:none;
        font-weight:bold;
    }

    .careerText {
    float:left;
    width:100%;
}

.right {
    float:right;
}

.doctor-icon {
    margin:5px 10px;
    max-width:200px;
}

.error {
    color:red;
}

.success {
    color:green;
}

/*Contact Us Styles*/
.contactus-wrapper
{
    width:100%;
    padding:10px 0px;
}

.contactus-form{
    width:50%;
    display:inline-block;
    vertical-align:top;
    margin:20px 10px 20px 60px;
}

.contactus-locations{
    max-width:50%;
    display:inline-block;
    vertical-align:top;
    margin:20px 0;
}

.label {
    font-size:14px;
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 5px;
}

.form-input, .form-textarea{
  margin-top: 5px;
  display:block;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-input{
     width: 60%;
}

.form-textarea{
     width: 80%;
}

.form-button{
 -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #3498db;
  padding: 6px 12px;
  text-decoration: none;
  
}

.form-button:hover{
  background: #2980b9;
  cursor: pointer;
  text-decoration: none;
}

.fb-width{
    width:40%;
}


#map-canvas {
        height: 350px;
    }

.ct-thankyou-msg{
    margin:0 auto;
    text-align: center;
}

.link-button{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #09A10D;
  color: #fff;
  padding: 6px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #5C5C5C;
  border-bottom: 1px solid #5C5C5C;
  border-left: 1px solid #CCCCCC;
}

.link-button:hover {
  cursor: pointer;
  background-color: #09720D;
  text-decoration: none;
    }
/*END Contact Us Styles*/



/*FAQ, Survey and Volunteer Styles*/

.vform-input{
  margin-top: 2px;
  display:block;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.vtform-input{
  margin-top: 2px;
  display:block;
  height: 200px;
  width:50%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.vapply {
    background: #0378a3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    float:left;
    cursor:pointer;
    margin: 0px 5px 0px 0px;

}

.vapply a {
        color:#fff;
        text-decoration:none;
        font-weight:bold;
    }

#volunteerContainer, #faqContainer, #surveyContainer {
    max-width:1100px;
    margin: 0 auto;
    height:auto;
    padding: 15px 10px;
}


/*END FAQ, Survey and Volunteer Styles*/


/*Doctor Admin Styles*/
.admin-input {
    width:100%;
    margin: 20px 0px;
}

/*Custom Page Styles*/

.customPageImg {
    float:right;
    max-width:500px;
    height:auto;
    margin: 10px;
}

.cropped {
    overflow:hidden;
    max-height:170px;
}

@media screen and (min-width: 1170px) {
    #responsive-nav
    {
        display:none!important;
    }
}

/*serive public page styles*/
.inputs, .textarea{
    width:150px;
  margin-top: 5px;
  display:block;
  height: 15px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#service_public {
    margin-top:10px;
    padding-left:120px;
    width:900px;
}
/*end of service public page styles*/

/*news public page styles*/
#news_public {
    margin-top:10px;
    margin-left:120px;    
}

#date {
    float:left;
    margin-right:10px;
    width:200px;
}

#news_body {
    float:left;
    width:900px;
}
/*end of news public page styles*/

/*bookapp public page styles*/
#book-public {
    padding-left: 110px;
}

/*end of book public page styles*/

/* Media Queries - Responsiveness*/
@media screen and (max-width: 1170px) {
    #hamburger-container {
        display:block;
    }

    #responsive-nav {
        display:none;
    }
    
    nav ul {
        display: none;
    }
    #nav ul {
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
  footer{
     height:150px; 
}

 .carousel-wrapper{
    width: 85%;
    margin:30px;
    margin-left:50px;
}
}

@media screen and (max-width: 768px) {
    .logo {
        max-width:45%;
    }
    .contact-info {
        max-width:50%;
        margin:5px 5px;
        
    }
    .wrapper {
        max-width:768px;
    }
    .hp-module {
        max-width:47%;   
    }
    .f-menu ul li a {
    display: block;
    }
    .f-left {
    width:100%;
    }
    .copy {
        clear:both;
    }

}

@media screen and (max-width: 530px) {
        .logo {
        max-width:50%;
    }
        .contact-info {
        max-width:100%;
        float:none;
        text-align:center;
    }
    header .contact-info {
        margin-top:2px;
    }

    .contact-info {
        display:none;
    }

    .contact-mobile {
        display:block;
        float:right;
        max-width:45%;
        margin: 15px 5px;
    }

    .f-menu li a {
        padding: 15px 10px;
    }

}

@media screen and (max-width: 480px) {
    .c-contact {
        max-width:100%;
    }
    
    .wrapper {
       max-width:480px;
    }
    .hp-module {
        max-width:100%;
    }

    .img-slider {
        display:none;
    }
    footer {
        height:150px;
    }   
}