@model IEnumerable<BlindRiver.Models.news_post>

@{
    ViewBag.Title = "Index";
}


<div id="news_public">
<h1>News</h1>
@foreach (var x in Model)
{
    <div id="date">
        <h3>@x.date.Day-@x.date.Month-@x.date.Year</h3>
    </div>
    
    <div id="news_body">
       <h3>@Html.DisplayFor(m=>x.heading)</h3>
       <p>@Html.DisplayFor(m => x.details)</p>
    </div>
    <br /><br />
}
</div>
